<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AcsSignKey" value="[YOUR ACS SIGNING KEY]" />
    <add key="SiAudience" value="[YOUR AUDIENCE / Relying Party App URI]"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows">
    </authentication>
    <webServices>
      <!-- To fully secure the service, let it listen to only HttpSoap protocol! -->
      <protocols>
        <clear />
        <add name="HttpSoap"/>
      </protocols>
      <soapExtensionTypes>
        <!-- Add custom SOAP Extension that will perform Token validation and injection tasks -->
        <add type="CloudElite.ServiceModel.Protocols.TokenExtension,
              CloudElite.ServiceModel" priority="1"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>